.navigation-list{
    display: flex;
    align-items: center;

    img{
        margin-right: 8px;
    }
    ul{
        display: flex;
    }
    li{
        margin-right: 200px;
        &:last-child{
            margin-right: 0;
        }
    }
    a{
        color: #494949;
        text-decoration: none;

        &.active, &:hover{
            color: #F96E20;
            font-weight: 700;
        }
    }
}