.logo{
    padding-top: 45px;
    padding-bottom: 1927px;
    padding-left: 409px;
    padding-right: 407px;

}

.logo_row{
display: flex;
align-items: center;
}

.logo__text{

}

.logo__title{

}

.logo__img{

}