body{
    background-color: purple;
    padding: 20px;
}
.container {    
	width: 948px;
	margin: auto;
}

.logo {
	height: 194px;
	width: 96px;
	position: relative;
	margin: 0 50%;
	left: -48px;
}


.head {
	width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(250, 51, 51);
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    z-index: 0;
    position: absolute;
}


.face {
 	position: absolute;
 	background-color: #FEEAE0;
 	width: 64px;
 	height: 40px;
 	transform: translate(-50%);
 	left: 50%;
 	margin-top: 97px;
 	border-bottom-right-radius: 15%;
 	border-bottom-left-radius: 15%;
}

.eye_l {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	margin-top: 105px;
	border-radius: 50%;
}

.eye_r {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: 10px;
	margin-top: 105px;
	border-radius: 50%;
}

.nose {
	background: rgb(228, 208, 198);
	background: linear-gradient(rgba(250,240,225) 10%, rgb(227, 168, 168) 100%);
	height: 27px;
	width: 13px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 125px;
	border-bottom-right-radius: 40%;
 	border-bottom-left-radius: 40%;
}

.MCh {
	font-family: 'Open Sans';
	font-size: 48px;
	color: #596268;
	text-align: center;
	padding-top: 10px;
}
.UI {
	font-family: 'Open Sans';
	font-size: 22px;
	color: #B5BDC2;
	text-align: center;
	padding-top: 10px;
}

.Layer1{
    margin-left: 580px;
    margin-right: 542;
	padding-top: 10px;
}