.container {    
    // background-color: #E9EEF2;
	width: 948px;
	margin: auto;
}

.logo {
	background-color: #E9EEF2;
	height: 194px;
	width: 96px;
	position: relative;
	margin: 0 50%;
	left: -48px;
}
.circle {
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 50%;
	
	transform: translate(-50%);
	z-index: 1;
	position: absolute;
}


.head {
	width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(250, 51, 51);
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    z-index: 0;
    position: absolute;
}
.line {
    width: 90px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 87px;
    border-radius: 15%;
}

.beard {
    background-color: white;	
    width: 78px;
    height: 110px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 95px;
    position: absolute;
    border-bottom-right-radius: 44%;
    border-bottom-left-radius: 44%;
}

.face {
 	position: absolute;
 	background-color: #FEEAE0;
 	width: 64px;
 	height: 40px;
 	transform: translate(-50%);
 	left: 50%;
 	margin-top: 97px;
 	border-bottom-right-radius: 15%;
 	border-bottom-left-radius: 15%;
}

.eye_l {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	margin-top: 105px;
	border-radius: 50%;
}

.eye_r {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: 10px;
	margin-top: 105px;
	border-radius: 50%;
}

.nose {
	background: rgb(228, 208, 198);
	background: linear-gradient(rgba(250,240,225) 10%, rgb(227, 168, 168) 100%);
	height: 27px;
	width: 13px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 125px;
	border-bottom-right-radius: 40%;
 	border-bottom-left-radius: 40%;
}

.MCh {
	background-color: #E9EEF2;
	font-family: 'Open Sans';
	font-size: 48px;
	color: #596268;
	text-align: center;
	padding-top: 10px;
}
.UI {
	background-color: #E9EEF2;
	font-family: 'Open Sans';
	font-size: 22px;
	color: #B5BDC2;
	text-align: center;
	padding-top: 10px;
}

.Layer1{
    margin-left: 600px;
	padding-top: 10px;
}

#menu {
	height: 85px;
	width: 948px;
	margin: 0 auto;
	position: relative;
}
#menu:before {
	display: block;
	content: '';
	width: 948px;
	height: 80px;
	background-color: white;
	border-radius: 10px;
	border-top: 5px solid transparent;
	background-image: linear-gradient(white, white), 
                      linear-gradient(rgb(228, 113, 5), rgb(228, 113, 5));
  	background-origin: border-box;
  	background-clip: content-box, border-box;
	position: absolute;
	left: 50%;
	margin-left: -474px;
	z-index: -1;
}


#menu ul li a{
	font-family: 'Open Sans';
	font-size: 20px;
	float: left;
	display: block;
	height: 85px;
	text-decoration: none;
	color: #596268;
	line-height: 80px;
	margin: 0 34px;
	display: flex;
}

#menu ul li a:hover{
	color: #F96E20;
}


#menu ul {
	margin: 100px auto 0 auto;
	padding: 0;
	list-style: none;
}
#menu img {
	margin: auto auto auto 8px;
	font-size: 15px;
	margin-top: 23px;

}
#min_menu {
	position: absolute;
	width: 948px;
	height: 1758px;
}
.album {
	width: 300px;
	height: 360px;
	margin-top: 24px;
	margin-left: 170px;
	position: relative;
}
.left_album:before {
	content: '';
	display: block;
	background: rgba(255, 255, 255, 1);
	background: linear-gradient( rgba(248,119,29,1) 30%, rgba(248,59,48,1) 100%);
	height: 360px;
	width: 51px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	position: absolute;
	z-index: -1;
}
.left_album {
	height: 360px;
	width: 51px;
}


.album_icons button:hover:before {
	margin-top: 21px;
	left: 21px;
	content: '';
	position: absolute;
	z-index: 2;
	margin-left: 20px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white;
}


.album_icons {
	height: 27px;
}

.album_icons ul {
	width: 50px;
	list-style: none;
	margin: 1px -40px;
}

.album_icons ul li {
	width: 51px;
	height: 72px;
	margin-left: 8px;
}


.album_icons button {
	transition: transform .5s;
	width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.album_1 {
	width: 249px;
	height: 311px;
	margin-left: 51px;
	margin-top: -360px;
}

.album_1:before {
	content: '';
	display: block;
	background-color: white;
	height: 310px;
	width: 255px;
	position: absolute;
	left: 50px;
	top: 1px;
	background: rgb(255,255,255);
	background: linear-gradient(rgba(255,255,255,1) 30%, rgba(205,205,205,1) 100%);
	border-top-right-radius: 10px;
}
.album_1_bot:before {
	content: '';
	display: block;
	width: 255px;
	background-color: #E9EEF2;
	height: 50px;
	left: 50px;
	border-bottom-right-radius: 10px;
}

.album_1_img {
	height: 310px;
}

.album_1_bot {
	width: 249px;
	height: 49px;
	position: absolute;
	bottom: 1px;
}

.album_1_img ul {
	position: absolute;
}

.style_1 {
	top: 0.01px;
	list-style: none;
	line-height: 30px;
}

.style_1 img {
	margin-left: -20px;
}

.style_1 ul {
	margin-left: -20px;
}

.album_1_img img {
	width: 230px;
	height: 104px;
}

.buttons {
	position: absolute;
	width: 250px;
	height: 50px;
	top: 1px;
}

.buttonX {
	height: 24px;
	width: 24px;
  	display: inline-block;
	margin: 20px;
	border-radius: 50%;
	border: 1.5px solid #F86822;
	cursor: pointer;
}

.btnL {
	margin-left: 20px;
}

.btnR {
	margin-left: 134px;
}

.album_nav {
	height: 50px;
	width: 100px;
	position: absolute;
	top: 1px;
	left: 75px;
	
}

.album_nav p {
	font-family: 'Open Sans';
	margin-top: 20px;
	margin-left: 7px;
}

.dots {
	margin-top: -95px;
	line-height: 1px;
	list-style: circle;
	color: white;
	left: 230px;
	line-height: 8px;
}

#loading {
	height: 70px;
	width: 300px;
	margin-left: 840px;
	margin-top: -300px;
}
.load_text{
	font-family: 'Open Sans';
	position: absolute; 
	margin-left: 20px;
	margin-top: -40px;

}

.percent {
	font-family: 'Open Sans';
	margin-left: 240px;
	margin-top: -40px;
	position: absolute; color: #F86822; 
}
.load_img{
	position: absolute; 
	margin-left: 10px;
	margin-top: 6px;
}

#loading:before {
	content: '';
	display: block;
	margin-top: -55px;
	height: 70px;
	width: 290px;
	position: absolute;
	background-color: #E9EEF2;
	border-radius: 10px;
}

.load {
	width: 258px;
	height: 10px;
	border: 1px solid #D7D7D7;
	position: absolute;
	margin-left: 20px;
	margin-top: -7px;
	background-color: white;
	border-radius: 10px;
}
.orange {
	width: 190px;
	height: 10px;
	margin-top: -1px;
	position: absolute;
	border-radius: 10px;
	background: rgb(247, 173, 25);
	background: linear-gradient(90deg, rgb(247, 173, 25) 0%, rgb(251, 107, 85) 100%);
}





